---
title: Professional Services
suppress_header: true
extra_css:
  - services.css
---

.services-page
  .page-container.container.landing-container.text-center
    %h1.page-headline
      GitLab Professional Services
    %h3.headline-subtitle
      GitLab Professional Services helps organizations reduce time to market by accelerating the adoption of modern software delivery methods.

  .page-container.container.services-block
    .row
      .col-md-5.col-md-offset-1
        .service-item
          .service-icon
            = partial "includes/icons/configure-icon.svg"
          .service-name Implementation Services
          .service-description
            Optimize your organization's adoption of GitLab through our implementation services, designed to enable other necessary systems in your environment as they are used by your teams moving code from idea to production.

      .col-md-5
        .service-item
          .service-icon
            = partial "includes/icons/import-drag-icon.svg"
          .service-name Migration Services
          .service-description
            Your data is valuable. And making it readily available for immediate continuity is indispensable. Our migration services will facilitate your transition to GitLab by providing a clean dataset to resume operations at once.

      .col-md-5.col-md-offset-1
        .service-item
          .service-icon
            = partial "includes/icons/gitlab-icon.svg"
          .service-name Education
          .service-description
            Your teams are composed of highly proficient technical experts. With any comprehensive solution, there is a learning curve to consider. Our product specialists - technology professionals themselves - are available to train your teams to become efficient in GitLab quickly.

      .col-md-5
        .service-item
          .service-icon
            = partial "includes/icons/code-1-icon.svg"
          .service-name Specialized Trainings
          .service-description
            "The whole is greater than the sum of its parts" - and this is particularly true in modern software development. GitLab enables all aspects intrinsic to software delivery, and we provide specialized training in these practices, such as CI/CD, version control, metrics, and more.

.services-form
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
