- reconfigure_command = 'sudo gitlab-ctl reconfigure'

- if has_ee
  %ul.list-unstyled.edition-picker.js-edition-picker
    %li
      %a.js-toggle-instructions{ href: "#", class: ("is-active" if type == "ce"), data: { "toggle-type" => "ce" } }
        Community Edition
    %li
      %a.js-toggle-instructions{ href: "#", class: ("is-active" if type == "ee"), data: { "toggle-type" => "ee" } }
        Enterprise Edition

%h4
  1. Install and configure the necessary dependencies
%p
  On CentOS, the commands below will also open HTTP and SSH access in the system firewall.
%pre.command
  = platform.dependency_commands
  = platform.firewall_open
  %button{ copy_btn_options("#{platform.dependency_commands}\r\n#{platform.firewall_open}\r\n") }
    %i.fa.fa-clipboard
%p
  Next, install Postfix to send notification emails. If you want to use another solution to send emails please skip this step and
  %a{ href: "https://docs.gitlab.com/omnibus/settings/smtp.html" } configure an external SMTP server
  after GitLab has been installed.
%pre.command
  = platform.postfix_commands
  %button{ copy_btn_options("#{platform.postfix_commands}\r\n") }
    %i.fa.fa-clipboard
%p
  During Postfix installation a configuration screen may appear. Select 'Internet Site' and press enter. Use your server's external DNS for 'mail name' and press enter. If additional screens appear, continue to press enter to accept the defaults.
%h4
  2. Add the GitLab package repository and install the package
%p
  Add the GitLab package repository.
%pre.command
  = "#{platform.download_command}\n"
  %button{ copy_btn_options("#{platform.download_command}\r\n") }
    %i.fa.fa-clipboard
%p
  Next, install the GitLab
  = 'CE' if type == "ce"
  package.
%pre.command
  = "#{platform.install_commands}"
  %button{ copy_btn_options("#{platform.install_commands}\r\n") }
    %i.fa.fa-clipboard
%h4
  3. Configure and start GitLab
%pre.command
  = reconfigure_command
  %button{ copy_btn_options(reconfigure_command) }
    %i.fa.fa-clipboard
%p
  Reconfiguring GitLab will take a couple of minutes, as components are set up and started. A log is displayed of all actions, which will include green and grey lines.
%h4
  4. Browse to the hostname and login
:markdown
  Browse to the hostname in a web browser. On your first visit, you'll be redirected to a password reset screen to provide the password for the initial administrator account.
  Enter your desired password and you'll be redirected back to the login screen.

  The default account's username is **root**. Provide the password you created earlier and login.
  After login you can change the username if you wish.

.display-extra-links
  %ul
    %li
      %a{ href: "https://docs.gitlab.com/omnibus/" }
        Troubleshooting
    %li
      %a{ href: "http://docs.gitlab.com/omnibus/manual_install.html" }
        Manual installation
    %li
      %a{ href: '/installation/ce' }
        Community Edition