!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/release-posts.css"}
  %body{:data => {:spy => "scroll", :target => ".qnav"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header"

    / blog template
    .blog.article
      - if is_blog_article?
        - image_title = current_article.data.image_title ? current_article.data.image_title : '/images/default-blog-image.png'
        .cover{ style: "background-image: url(#{image_title});" }
          .overlay
            .wrapper.header
              %span.date
                = current_article.date.to_time.strftime '%b %e, %Y'
              %span -
              %span.author
                - guest = current_article.data.guest
                - anchor = current_article.data.author_twitter || current_article.data.author_gitlab
                - if guest
                  = current_article.data.author
                - else
                  - if anchor
                    = link_to current_article.data.author, "/team/##{anchor}"
                  - else
                    = current_article.data.author
                - if current_article.data.author_gitlab
                  = link_to "https://gitlab.com/#{current_article.data.author_gitlab}" do
                    %span &nbsp;
                    %spam.author-gitlab
                      %i.fa.fa-gitlab
                - if current_article.data.author_twitter
                  = link_to "https://twitter.com/#{current_article.data.author_twitter}" do
                    %span &nbsp;
                    %spam.author-twitter
                      %i.fa.fa-twitter
              - if current_article.data.release_number
                .release-number
                  = current_article.data.release_number
              %h1
                = current_article.title
              - if current_article.data.description
                %p.description
                  = current_article.data.description
              - if current_article.data.cta_button_link && current_article.data.cta_button_text
                = link_to(current_article.data.cta_button_text, "#{current_article.data.cta_button_link}", class: "btn btn-lg btn-red")

      / body template
      .wrapper.body
        .content
          - filename = File.basename(current_page.path, File.extname(current_page.path)).gsub("-", "_")
          / release post content
          %section.release-post-section
            #intro
              = yield

            = partial "includes/blog/twitter_helper"
          = partial("includes/release", :locals => { :datafile => data.release_posts[filename], :current_article => current_article })

          /last section
          %section#about-gitlab.gray-section
            .release-row.align-top
              .column
                %h3{:id => "changelog"}
                  %a.header-link{href: "#changelog"}
                  Changelog
                %p
                  Please check out the changelog to see all the named changes:
                  %ul
                    %li
                      %a{:href => "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG.md", target: "_blank", title: "GitLab Community Edition"} GitLab CE
                    %li
                      %a{:href => "https://gitlab.com/gitlab-org/gitlab-ee/blob/master/CHANGELOG.md", target: "_blank", title: "GitLab Enterprise Edition"} GitLab EE
                    %li
                      %a{:href => "https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/master/CHANGELOG.md", target: "_blank", title: "GitLab Runner"} GitLab Runner
                %h3{:id => "installing"}
                  %a.header-link{href: "#installing"}
                  Installing
                %p
                  If you are setting up a new GitLab installation please see the
                  %a{:href => "/installation/"} download GitLab page.
                %h3{:id => "updating"}
                  %a.header-link{href: "#updating"}
                  Updating
                %p
                  Check out our
                  %a{:href => "/update/"} update page.
              .column
                %h3{:id => "gitlab-products"}
                  %a.header-link{href: "#gitlab-products"}
                  GitLab Products
                %p
                  :markdown
                    We offer four different [products](/products/) for you and your company:

                    - {: #ce} **GitLab Community Edition (CE)**: [Open source](https://gitlab.com/gitlab-org/gitlab-ce), self-hosted solution of GitLab. Ideal for personal projects or small teams with minimal user management and workflow control needs. Every feature available in GitLab CE, is also available on GitLab Enterprise Edition (Starter and Premium), and GitLab.com.
                    - {: #ee} **[GitLab Enterprise Edition](/gitlab-ee/) (EE)**: [Open core](https://gitlab.com/gitlab-org/gitlab-ee/), self-hosted, fully featured solution of GitLab. Available in two different subscriptions:
                      - {: #ees} **GitLab Enterprise Edition Starter (EES)**: Ideal for co-located teams who need additional security and workflow controls for their professional projects.
                      - {: #eep} **GitLab Enterprise Edition Premium (EEP)**: Ideal for distributed teams who need advanced workflow controls, advanced CI/CD, advanced Monitoring, advanced Project Management, and High Availability.
                    - {: #gitlab-dot-com} **[GitLab.com](/gitlab-com/)**: SaaS GitLab solution, with [free and paid subscriptions](https://about.gitlab.com/gitlab-com/). GitLab.com is hosted by GitLab, Inc. Ideal for individuals who want to get their projects up and running quickly. Administrated by GitLab (users don't have access to admin settings).

          / cover image
          %section#cover-img.release-post-section
            - data.release_posts[filename].cover_img do |cover|
              %p.note.text-center
                %a{href: "#{cover.image_url}", target: "_blank", rel: "noindex, nofollow"} Cover image
                licensed under
                = link_to(cover.licence, "#{cover.licence_url}")

        / default template
        .social
          = partial "includes/blog/share"
        = partial "includes/blog/pager"
      .wrapper.signup
        = partial "includes/newsletter-signup.html"
      = partial "includes/blog/install"
      - if production?
        .wrapper.comments
          = partial "includes/blog/comments"
      = partial "includes/layout/footer"
      - unless current_page.data.ee_cta == false
        = partial "includes/features/gitlab-ee-trial"

    / tooltip
    %script{:async => "", :src => "/javascripts/bootstrap-tooltip.js", :type => "text/javascript"}
