---
layout: job_page
title: "Issue Triage Specialist"
---

<%= partial "includes/positions/developer/issue_triage" %>

## Responsibilities

* Triage issues on [our projects located in the gitlab-org group on GitLab.com](https://gitlab.com/gitlab-org/)
  and in [the GitLab.com Support Tracker](https://gitlab.com/gitlab-com/support-forum/issues/)
  following the [Issue Triage Policies](/handbook/engineering/issues/issue-triage-policies)
* Monitor discussions in those issues, responds in a timely fashion where appropriate (or
  ensures relevant responders are “nudged” to respond)
* Ping team leads or VP of Engineering via chat when outstanding critical
  customer issues are not addressed in a timely fashion
* Identify patterns or common issues reported by the community
* Develop tools to consolidate and reduce duplicate issues
* Fixes community-reported bugs when possible (approximately 20% of the time)
* Label `Accepting Merge Requests` issues for potential developer candidates in agreement
  with the Platform and/or Discussion leads
* Improve the [Issue Triage Policies](/handbook/engineering/issues/issue-triage-policies)
  as needed
* Communicate important community concerns to the appropriate team
* Documents answers and improves existing documentation
* Write blog posts relevant to the community
* Establish and report metrics on a regular basis, including recommendations and insights

## Requirements for Applicants

* Good knowledge of Unix and Unix-based Operating Systems
* Vast experience with Ruby on Rails applications and Git
* Affinity for providing Community Support
* Excellent spoken and written English
* A willingness to carry out all work out in the open
* You share our [values](/handbook/values), and work in accordance with those values
* A technical interview is part of the hiring process for this position

## Further information

Please see the [Issue Triage Specialist resources pages](/handbook/edge/issue-triage) for further information about the role.
